body {
    background: #F3F3F3;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #353535;
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    color: #353535;
    text-align: center;
    margin: 20px 0;
  }
  
  h2 {
    color: #353535;
    text-align: center;
    margin: 20px 0;
  }
  
  button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #FFB236;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #FF9A00;
    cursor: pointer;
  }